*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  
}
::placeholder{
    color:$darkGrayishBlue;
}
.main{
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background: url(../images/bg-desktop-light.jpg) no-repeat;
    
}

.todoContainer{
    // background-color: red;
    max-width: 1440px;
    width: 40%;
  margin:0 auto;
    .topPart{
        padding-top: 4em;
        color: white;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
        .heading{
            letter-spacing: 0.5em;
            font-size: 2rem;
        }
    }

    .middlePart{
        margin-bottom: 2em;
        .inputContainer{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 0.25em;
            .checkContainer{
                padding: 1em;
                padding-right: 0em;
                .checkDiv {
                        height: 20px;
                        width: 20px;
                        border: 1px solid $lightGrayishBlue;
                        border-radius: 50%;
                        background-color: white;
                    }
                
                
            }.mainInput{
                    padding: 0.75em;
                    width: 100%;
                    border:none;
                    outline:none;
                    color:$veryDarkGrayishBlue;
                    border-radius: 0.25em;
                    font-size: 1.25rem;
                    .inputContainer {
                            width: 100%;
                            padding: 0.25em 0em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: white;
                            border-radius: 0.25em;
                    
                        } ;
                    
                }
        }
    }
}

.bottomPart{
    background: white;
    border-radius: 0.25em;
    box-shadow: 0px 0px 40px $darkGrayishBlue;
    .taskContainer{
        background: white;
        border-radius: 0.25em 0.25em 0em 0em;
        display: flex;
        position: relative;
        border-bottom: 1px solid $veryLightGrayishBlue;
        align-items: center;
        .taskCheckContainer{
            padding: 1em;
            padding-right: 0em;
            position: relative;
           
            .taskCheck{
                height: 20px;
                width: 20px;
                border: 1px solid $lightGrayishBlue;
                border-radius: 50%;
                background-color: white;
            }
            .taskChecked{
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    border: 1px solid $lightGrayishBlue;
                    border-radius: 50%;
                    background:linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                &::before{
                    content: '';
                    position: absolute;
                    height: 8px;
                    width: 2px;
                    background: white;
                    left: 53%;
                    top: -4px;
                    -webkit-transform: translate(7%, 115%) rotate(45deg);
                    transform: translate(7%, 115%) rotate(45deg);
                }
                &::after{
                    content: '';
                    position: absolute;
                    height: 5px;
                    width: 2px;
                    left: 30%;
                    top: 41%;
                    background: white;
                    transform: translate(7%, 10%) rotate(-45deg);
                }
            }
       
        } .taskData {
             color: $veryDarkGrayishBlue;
             padding: 0.75em;
             font-size: 1.25em;
             &:hover{
                    color: $darkGrayishBlue;
             }
         }
         .cross{
           position:relative;
           
           width: 40px;
           
           z-index: 10;
           
            .cross01{
                height: 20px;
                display: inline-block;
                width: 2px;
                background:$veryDarkGrayishBlue;
                transform: rotate(45deg) translate(5px, -4px);
            }
            .cross02 {
            height: 20px;
            display: inline-block;
            width: 2px;
            transform: rotate(-45deg);
            background: $veryDarkGrayishBlue;
            }
         }
    }
    
}
.taskFilters {
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
    background: white;
    font-size: 1rem;
    color: $darkGrayishBlue;
    border-radius:0em 0em 0.25em 0.25em;
    box-shadow: 0px 0px 40px $darkGrayishBlue;
    button {
        background: none;
        border: none;
        font-size: 1rem;
        color: $darkGrayishBlue;
        outline: none;
    }

    .itemsLeft {
        padding-left: 1em;
    }

    .taskStates {
        button {
            margin: 0em 1em;
        }

    }

    .clearCompleted {
        padding-right: 1em;
    }
}
.none{
    display: none;
}
.completed{
text-decoration: line-through;
color:$lightGrayishBlue !important;
}
.hover{
    height: 16px !important;
    width: 16px !important;
  
        position: relative;
       
        left: 2px;
        top: 1px;
        z-index: 10;
       
}

button{
    &:hover{
        cursor: pointer;
    }
}